* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: normal;
}

body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

nav ul {
    display: flex;
    margin-left: auto;
    gap: 16px;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #afafaf;
}
nav ul li a:hover {
    color: #a0a0a0;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    gap: 16px;
}

.hero-text {
    padding: 10px;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 10px;
    font-weight: 900;
}
.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: #f9faf8;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.hero-button:hover {
    background-color: #2771e5;
    cursor: pointer;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 8px;
    border: 2px solid #3882f6;
}

.information {
    background-color: #fff;
    margin: auto;
    margin-bottom: 100px;
    padding: 50px 20px;
}

.information h2 {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 16px;
}

.information-box {
    flex: 1 1 200px;
    text-align: center;
    margin-top: 16px;
    color: #1F2937;
}

.information-box img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 8px;
    border: 2px solid #3882f6;
    object-fit: cover;
}

.information-box figcaption {
    margin-top: 10px;
    text-align: center;
    color: #4b5563;
}
